---
import { tt } from "#/copy";
import Section from "../../blocks/Section.astro";
import SectionContent from "../../blocks/SectionContent.astro";

const t = tt.landings.sections.efficient.en;
---

<Section heading={{ h: "2" }} t={t} cols="2" style="header">
  <div class="stats">
    <div class="stats-list">
      {
        t.stats.map((stat) => (
          <div class:list={["stat", `is-${stat.id}`]}>
            <div class="stat-value">{stat.value}</div>
            <div class="stat-label">{stat.label}</div>
          </div>
        ))
      }
    </div>

    <p class="stats-disclaimer">{t.statsDisclaimer}</p>
  </div>
</Section>

<Section style="compact">
  <div class="points">
    {
      t.points.map((point) => (
        <div>
          <SectionContent heading={{ h: "3" }} t={point} />
        </div>
      ))
    }
  </div>
</Section>

<style>
  @reference "#/styles/global.css";

  .stats {
    @apply flex flex-col gap-4 justify-end;
  }

  .stats-list {
    @apply grid grid-cols-3 gap-6;
  }

  .stat {
    @apply flex flex-col gap-2;
  }

  .stat-value {
    @apply text-3xl font-mono leading-none capsize;
  }

  .stat-label {
    @apply text-sm text-accent-400 text-balance;
  }

  .stats-disclaimer {
    @apply text-sm text-accent-500 leading-none capsize;
  }

  .points {
    @apply grid grid-cols-3 gap-6;
  }
</style>
