---
import { tt } from "#/copy";
import type { AstroComponentInstance } from "astro/runtime/server/index.js";
import Tabs, { type Tabs as TabsNs } from "../landings/blocks/Tabs.astro";
import Code from "./Code.astro";
import type { TtHow } from "#/copy/how";

// TODO: Detect OS
const os: "windows" | "xnix" = "windows";
const defaultTab = `install-cli-bin-${os}` as const;

const t = tt.how;

type T = typeof t;

type InstallKey = TtHow.Filter<"install-cli">;

type InstallVariantKey = keyof T extends infer Key
  ? Key extends keyof T
    ? T[Key] extends TtHow.InstallVariant
      ? Key extends `install-cli-${string}`
        ? Key
        : never
      : never
    : never
  : never;

type RenderContent = <Id extends InstallVariantKey>(
  id: Id,
) => AstroComponentInstance;

function tab<
  Id extends InstallKey,
  SubId extends TtHow.Filter<Id> extends `${Id}-${infer Rest}` ? Rest : never,
>(id: Id, sub?: SubId[]) {
  if (sub)
    return {
      id,
      label: t[id].tab,
      items: sub.map((subIdPost) => {
        const subId = `${id}-${subIdPost}` as InstallKey;
        return {
          id: subId,
          label: t[subId].tab,
        };
      }),
    };

  return {
    id,
    label: t[id].tab,
  };
}
---

<Fragment>
  {
    () => {
      const renderContent: RenderContent = (id) => {
        const tContent = t[id];
        return (
          <>
            <Code code={tContent.install.code} lang={tContent.install.lang} />
            <div class="text-xs text-gray-500 px-4 pb-2">v0.9.1 · 91 MB</div>
          </>
        );
      };

      return (
        <Tabs
          items={[
            tab("install-cli-bin", ["xnix", "windows"]),
            tab("install-cli-npm", ["npm", "pnpm", "yarn", "bun"]),
            tab("install-cli-pip", ["pip", "uv"]),
          ]}
          active={defaultTab}
          style="code"
        >
          <Fragment slot="install-cli-bin-xnix">
            {renderContent("install-cli-bin-xnix")}
          </Fragment>

          <Fragment slot="install-cli-bin-windows">
            {renderContent("install-cli-bin-windows")}
          </Fragment>

          <Fragment slot="install-cli-npm-npm">
            {renderContent("install-cli-npm-npm")}
          </Fragment>

          <Fragment slot="install-cli-npm-pnpm">
            {renderContent("install-cli-npm-pnpm")}
          </Fragment>

          <Fragment slot="install-cli-npm-yarn">
            {renderContent("install-cli-npm-yarn")}
          </Fragment>

          <Fragment slot="install-cli-npm-bun">
            {renderContent("install-cli-npm-bun")}
          </Fragment>

          <Fragment slot="install-cli-pip-pip">
            {renderContent("install-cli-pip-pip")}
          </Fragment>

          <Fragment slot="install-cli-pip-uv">
            {renderContent("install-cli-pip-uv")}
          </Fragment>
        </Tabs>
      );
    }
  }</Fragment
>
