---
import { tt } from "#/copy";
import Logotype from "#/assets/logotype.svg";
import { Icon } from "@astrojs/starlight/components";
import Banner from "./Banner.astro";
import Asciinema from "#/components/blocks/Asciinema.astro";
import GitHubStars from "#/components/blocks/GitHubStars.astro";
import DiscordMembers from "#/components/blocks/DiscordMembers.astro";
import Link from "#/components/Link.astro";
import TextDel from "#/components/TextDel.astro";
import DecorationAtom0 from "../../blocks/DecorationAtom0.astro";
import DecorationAtom from "../../blocks/DecorationAtom.astro";
import DecorationAtom2 from "../../blocks/DecorationAtom2.astro";
import DecorationAtom3 from "../../blocks/DecorationAtom3.astro";
import DecorationAtom4 from "../../blocks/DecorationAtom4.astro";
import DecorationAtom5 from "../../blocks/DecorationAtom5.astro";

const t = tt.landings.sections.hero.en;
---

<div class="content-inner hero flex flex-col items-center gap-16 pb-32">
  <DecorationAtom0 />

  <DecorationAtom />

  <DecorationAtom2 />

  <DecorationAtom3 />

  <DecorationAtom4 />

  <DecorationAtom5 />

  <Banner />

  <div class="flex flex-col gap-5 items-center">
    <Logotype class="h-10" />

    <div class="heading text-center max-w-2xl">
      <h1 set:html={tt.md(t.headline, true)} class="h1 text-4xl font-medium" />

      <p class="subheadline">{t.subheadline}</p>
    </div>

    <!-- <Install /> -->

    <div class="w-xl max-w-full">
      <Asciinema src="https://asciinema.org/a/569727.cast" />
    </div>

    <div class="flex gap-3 items-center hidden">
      <a
        href="#"
        class="bg-logo px-6 py-2 rounded-sm text-white font-medium text-md no-underline"
        >{t.ctaGetStarted}</a
      >
      <!-- <a
          href="#"
          class="px-6 py-2 rounded-sm text-accent-400 border-accent-600 border font-medium text-md no-underline"
          >{t.ctaDiscord}</a
        > -->
    </div>

    <div class="inline-flex items-center gap-3 text-sm text-accent-400">
      <Link href={tt.links.github.href}>
        <Icon name="github" class="inline-block h-6" />
        <span>{t.openSource}</span>
        <Fragment slot="badge">
          <Icon name="star" />
          <GitHubStars />
        </Fragment>
      </Link>

      <TextDel />

      <Link t={tt.links.mitLicense} />

      <TextDel />

      <Link href={tt.links.discord.href}>
        <Icon name="discord" class="inline-block h-6" />
        <span>{t.community}</span>
        <Fragment slot="badge">
          <DiscordMembers />
        </Fragment>
      </Link>
    </div>
  </div>
</div>

<style>
  @reference "#/styles/global.css";

  .h1 {
    & :global(b) {
      @apply text-5xl font-medium;
    }

    & :global(a) {
      @apply text-accent-300;
    }
  }

  .hero {
    @apply relative overflow-hidden;
  }

  .hero :global(.decoration-atom) {
    /* @apply absolute hidden md:block; */
    font-size: clamp(0.54rem, 1.2vw, 1rem);
    /* left: 50%; */
    /* top: 5em; */
    /* opacity: 1; */
    /* transform: translateX(-50%); */
    /* z-index: 0; */
  }

  /* .hero > :global(:not(.decoration-atom)) {
    @apply relative;
    z-index: 1;
  } */
</style>
