---
import { tt } from "#/copy";
import { Icon as AstroIcon } from "@astrojs/starlight/components";
import GitHubStars from "#/components/blocks/GitHubStars.astro";
import DiscordMembers from "#/components/blocks/DiscordMembers.astro";
import Link from "#/components/Link.astro";

const t = tt.landings.sections.hero.en;
---

<div class="inline-flex items-center gap-3 text-sm">
  <Link href={tt.links.github.href}>
    <AstroIcon name="github" class="inline-block h-6" />
    {t.openSource}
    <Fragment slot="badge">
      <AstroIcon name="star" />
      <GitHubStars />
    </Fragment>
  </Link>

  <text-del></text-del>

  <Link t={tt.links.mitLicense} />

  <text-del></text-del>

  <Link href={tt.links.discord.href}>
    <AstroIcon name="discord" class="inline-block h-6" />
    {t.community}
    <Fragment slot="badge">
      <DiscordMembers />
    </Fragment>
  </Link>
</div>
